.idea
venv
lafourche/lafourche/spiders/__pycache__/spider.cpython-37.pyc
lafourche/lafourche/spiders/__pycache__/__init__.cpython-37.pyc
lafourche/lafourche/__pycache__/settings.cpython-37.pyc
lafourche/lafourche/__pycache__/__init__.cpython-37.pyc
.vscode/settings.json
